<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="description" content="Hazle saber a todos que tu mascota esta perdida o de alguna mascota que encuentres por la calle.">
    <meta name="keywords" content="Mascotas, Colitas, Patas, Alerta, Ayuda, Perros, Gatos, SOS">
    <meta name="distribution" content="global">

    <title>Mascota Alerta</title>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700,800" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600,700,800" rel="stylesheet">

    <!-- NEW FONT -->
    <link href="https://fonts.googleapis.com/css?family=Quicksand:400,500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Prompt:400,500,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,700" rel="stylesheet">


    @Styles.Render("~/bundles/theme-vendor-css")
    @Styles.Render("~/bundles/theme-assets-css")

    <!-- Favicon Image-->
    @*
    <link rel="icon" type="image/x-icon" href="~/CNoteV1.0/assets/images/favicon.ico">
    <link rel="icon" type="image/png" href="~/CNoteV1.0/assets/images/favicon.png">
    *@
</head>
<body data-spy="scroll" data-target=".navbar-scrollspy" data-offset="50">

    <!-- Preloader -->
    <div id="preloader">
        <div class="h-100 d-flex justify-content-center align-items-center">
            <div class="ring"></div>
            <div class="ring2"></div>
        </div>
    </div>

    <div id="main-wrapper" class="main-wrapper">
        @Html.Partial("_HeaderNavMenu")

        <!-- Main Content -->
        <div id="main-content">
            <section class="about g-bg-white g-py-20">
                <div class="container">
                    @if (ViewBag.AlertMessage != null)
                    {
                        @Html.Partial("_AlertMessage")
                    }

                    @RenderBody()
                </div>
            </section>
        </div>
        <!-- End Main Content -->
    </div>

    <script src='https://www.google.com/recaptcha/api.js'></script>
    @Scripts.Render("~/bundles/theme-vendor-js")
    @Scripts.Render("~/bundles/theme-assets-js")
    @Scripts.Render("~/bundles/bootbox-js")

    @RenderSection("scripts", required: false)
</body>
</html>
