<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="description" content="cNote responsive template">
    <meta name="keywords" content="Theme, Template, Ecommerce, Bootstrap, SASS, Multipage, Onepage, Ecommerce, Multipurpose, jQuery">
    <meta name="distribution" content="global">

    <title>Find My Pet</title>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700,800" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600,700,800" rel="stylesheet">

    <!-- NEW FONT -->
    <link href="https://fonts.googleapis.com/css?family=Quicksand:400,500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Prompt:400,500,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,700" rel="stylesheet">


    <!-- Icons -->
    <link rel="stylesheet" href="~/CNoteV1.0/assets/vendor/css/font-awesome.css">
    <link rel="stylesheet" href="~/CNoteV1.0/assets/vendor/css/simple-line-icons.css">
    <!-- Plugins -->
    <link rel="stylesheet" href="~/CNoteV1.0/assets/vendor/css/owl.carousel.css">
    <link rel="stylesheet" href="~/CNoteV1.0/assets/vendor/css/magnific-popup.css">
    <link rel="stylesheet" href="~/CNoteV1.0/assets/vendor/css/jquery-ui-slider.css">

    <!-- Main [ Bootstrap, Components, Generals ] -->
    <link rel="stylesheet" href="~/CNoteV1.0/cnote-main/assets/css/main.css">

    <!-- Your custom code -->
    <link rel="stylesheet" href="~/CNoteV1.0/cnote-main/assets/css/custom.css">

    <!-- Favicon Image-->
    <link rel="icon" type="image/x-icon" href="~/CNoteV1.0/assets/images/favicon.ico">
    <link rel="icon" type="image/png" href="~/CNoteV1.0/assets/images/favicon.png">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <!--
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-116496437-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-116496437-1');
    </script>
    -->

    @*
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    *@
</head>
<body data-spy="scroll" data-target=".navbar-scrollspy" data-offset="50">

    <div id="main-wrapper" class="main-wrapper">
        <!-- Header -->
        <header id="header" class="cn-header position-relative">
            <!-- Main Navbar -->
            <div class="cn-navbar-wrapper g-border-b g-border-gray-300">
                <nav class="navbar navbar-expand-lg">

                    <div class="container">
                        <div class="logo-wrapper">
                            <a class="navbar-brand" href="/Home"><img class="logo" src="http://via.placeholder.com/150x50/eee/777" alt="Logo"></a>
                        </div>
                        <div class="collapse navbar-collapse" id="navbarNav">
                            <ul class="navbar-nav g-ml-20">
                                <li class="nav-item">
                                    @Html.ActionLink("Nosotros", "Index", "Home", null, new { @class = "nav-link" })
                                </li>
                                <li class="nav-item">
                                    @Html.ActionLink("Acerca De", "About", "Home", null, new { @class = "nav-link" })
                                </li>
                                <li class="nav-item">
                                    @Html.ActionLink("Contactanos", "Contact", "Home", null, new { @class = "nav-link" })
                                </li>
                                @if (Request.IsAuthenticated)
                                {
                                    <li class="nav-item">
                                        @Html.ActionLink("Mis Mascotas", "Index", "Pet", null, new { @class = "nav-link" })
                                    </li>
                                }
                            </ul>
                            @Html.Partial("_LoginPartial")
                        </div>
                    </div>

                </nav>
            </div>
            <!-- END Main Navbar -->
        </header>
        <!-- END Header

        <!-- Main Content -->
        <div id="main-content">
            <section class="about g-bg-white g-py-20">
                <div class="container">
                    @RenderBody()
                </div>
            </section>
        </div>
    </div>

    <div></div>

    <!-- JS Main Files -->
    <script src="~/CNoteV1.0/assets/vendor/js/jquery.js"></script>
    <script src="~/CNoteV1.0/assets/vendor/js/popper.js"></script>
    <script src="~/CNoteV1.0/assets/vendor/js/bootstrap.js"></script>

    <!-- JS Plugins -->
    <script src="~/CNoteV1.0/assets/vendor/js/owl.carousel.js"></script>
    <script src="~/CNoteV1.0/assets/vendor/js/owl.carousel2.thumbs.js"></script>
    <script src="~/CNoteV1.0/assets/vendor/js/jquery.appear.js"></script>
    <script src="~/CNoteV1.0/assets/vendor/js/jquery.countdown.js"></script>
    <script src="~/CNoteV1.0/assets/vendor/js/countUp.js"></script>
    <script src="~/CNoteV1.0/assets/vendor/js/masonry.pkgd.js"></script>
    <script src="~/CNoteV1.0/assets/vendor/js/imagesloaded.pkgd.js"></script>
    <script src="~/CNoteV1.0/assets/vendor/js/jquery.magnific-popup.js"></script>
    <script src="~/CNoteV1.0/assets/vendor/js/circle-progress.js"></script>
    <script src="~/CNoteV1.0/assets/vendor/js/typed.js"></script>
    <script src="~/CNoteV1.0/assets/vendor/js/scrollreveal.js"></script>

    <!-- jQuery UI Widgets -->
    <script src="~/CNoteV1.0/assets/vendor/js/widget.js"></script>
    <script src="~/CNoteV1.0/assets/vendor/js/mouse.js"></script>
    <script src="~/CNoteV1.0/assets/vendor/js/slider.js"></script>

    <script src="~/CNoteV1.0/cnote-main/assets/js/cnote.js"></script>

    @*
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
    *@
    @RenderSection("scripts", required: false)
</body>
</html>
