@model FindMyPet.MVC.Models.Admin.ResendConfirmationEmail

To: @Model.To
From: @Model.From
Subject: @Model.Subject

<div style="text-align:center">
    <h2>Alerta Mascota</h2>
</div>
<div>
    <p>
        Hola, aqui te enviamos el link para que puedas confirmar tu cuenta:
    </p>
    <p>
        <a href="@Model.ConfirmationLink">@Model.ConfirmationLink</a>
    </p>
    <br />
    <p>Atte.</p>
    <p>Alerta Mascota</p>
</div>