@model FindMyPet.MVC.Models.Admin.ResetPasswordEmail

To: @Model.To
From: @Model.From
Subject: @Model.Subject

<div style="text-align:center">
    <h2>¡Alerta Mascota!</h2>
</div>
<div>
    <p>
        Hola <strong>@Model.FullName</strong>,
    </p>
    <br />
    <p>
        Dale click al siguiente link para que puedas reiniciar tu contraseña:
        <a href="@Model.ResetPasswordLink">@Model.ResetPasswordLink</a>
    </p>
    <br />
    <p>Atte.</p>
    <p>Alerta Mascota</p>
</div>