@model FindMyPet.MVC.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "register-form-3", role = "form" }))
{
    @Html.AntiForgeryToken()

    <!-- Register Section -->
    <section class="register-section g-py g-bg-white">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8 col-lg-6">
                    <div class="g-bg-white g-border g-border-gray-300 g-px-25 g-py-35 g-shadow-v1">
                        <h4 class="text-center g-pb-35">Crear Cuenta</h4>

                        <!-- Register Form -->
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="register-firstname">Nombre</label>
                                    <div class="input-group input-group-focus">
                                        <span class="input-group-prepend g-w50">
                                            <i class="fa fa-user"></i>
                                        </span>
                                        @Html.TextBoxFor(m => m.FirstName, new { @id = "register-firstname", @name = "firstname", @class = "form-control form-control-lg", @placeholder = "Nombre" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="register-lastname">Apellido</label>
                                    <div class="input-group input-group-focus">
                                        <span class="input-group-prepend g-w50">
                                            <i class="fa fa-user"></i>
                                        </span>
                                        @Html.TextBoxFor(m => m.LastName, new { @id = "register-lastname", @name = "lastname", @class = "form-control form-control-lg", @placeholder = "Apellido" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="register-email">Correo</label>
                                    <div class="input-group input-group-focus">
                                        <span class="input-group-prepend g-w50">
                                            <i class="fa fa-envelope"></i>
                                        </span>
                                        @Html.TextBoxFor(m => m.Email, new { @id = "register-email", @name = "email", @class = "form-control form-control-lg", @placeholder = "Correo" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="register-password">Contraseña</label>
                                    <div class="input-group input-group-focus">
                                        <span class="input-group-prepend g-w50">
                                            <i class="fa fa-lock"></i>
                                        </span>
                                        @Html.PasswordFor(m => m.Password, new { @id = "register-password", @name = "password", @class = "form-control form-control-lg", @placeholder = "Contraseña" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="register-repassword">Confirmar Contraseña</label>
                                    <div class="input-group input-group-focus">
                                        <span class="input-group-prepend g-w50">
                                            <i class="fa fa-lock"></i>
                                        </span>
                                        @Html.PasswordFor(m => m.ConfirmPassword, new { @id = "register-repassword", @name = "repassword", @class = "form-control form-control-lg", @placeholder = "Confirmar Contraseña" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="g-mb-10">
                            @Html.ValidationSummary("", new { @class = "text-danger" })
                        </div>
                        @*<div class="form-group g-px-8 g-py-15">
                            <div class="custom-control cn-custom-checkbox d-flex align-items-center">
                                <input class="custom-control-input" type="checkbox" id="TermsAndConditions" name="TermsAndConditions">
                                <label class="custom-control-label" for="TermsAndConditions">
                                    <span>Acepto los <a href="#" class="g-ml-5">Términos y Condiciones</a></span>
                                </label>
                            </div>
                        </div>*@
                        <div class="form-group g-px-8 g-mb-40">
                            <input type="submit" class="btn cn-btn-primary" value="Crear Cuenta" />
                        </div>
                        <div class="text-center">
                            <p>¿Ya tiene una cuenta? <a href="/Account/Login">Iniciar Sesión</a></p>
                        </div>
                        <!-- End Register Form -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END Register Section -->
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
