
@{
    string IsActiveMenuItem(string itemName)
    {
        var str = string.Empty;
        var vb = (string)ViewBag.SelectedItem;

        if (itemName == vb)
            str = "active";

        return str;
    }
}

<div class="col-md-3">
    <aside class="user-sidebar g-p-10 g-border g-border-gray-300 g-mb-15">
        <div class="position-relative text-center g-mb-20">
            <div class="user-img position-relative g-mb-20">
                <img src="@Url.Content(ViewBag.ProfilePictureUrl)" class="img-fluid rounded-circle" alt="Profile Picture">
                <a href="#" class="change-user-img" data-toggle="modal" data-target="#userImgUploadModal"><i class="icon-reload"></i></a>
            </div>
            <h5 class="font-weight-bold g-text-gray-700">@ViewBag.FullName</h5>
        </div>

        <div class="modal fade" id="userImgUploadModal" tabindex="-1" role="dialog" aria-labelledby="userImgUploadLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h6 class="modal-title text-center" id="userImgUploadLabel">Cambiar imagen de Perfil</h6>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        @using (Html.BeginForm("UploadProfileImage", "Manage", new { an = ViewBag.SelectedItem }, FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            <div class="modal-body">
                                <input type="file" name="user-img-upload" id="user-img-upload" class="cn-custom-file-input cn-custom-file-input-v2" />
                                <label class="user-upload-label text-center g-py-40" for="user-img-upload">
                                    <span class="d-block">
                                        <i class="icon-cloud-upload g-font-size-25"></i>
                                    </span>
                                    <span class="g-font-size-16">Escoger imagen&hellip;</span>
                                </label>
                            </div>
                            <div class="modal-footer">
                                <input type="submit" class="btn btn-sm cn-btn-primary" value="Guardar Imagen" />
                                <button type="button" class="btn btn-sm cn-btn-secondary" data-dismiss="modal">Cerrar</button>
                            </div>
                        }
                    </div>
                </div>
            </div>

        <div class="user-info">
            <nav class="list-group">
                <a href="/Manage" class="list-group-item list-group-item-action @IsActiveMenuItem("Index")">
                    <i class="icon-user g-mr-5"></i>Perfil
                </a>
                <a href="/Manage/Settings" class="list-group-item list-group-item-action @IsActiveMenuItem("Settings")">
                    <i class="icon-settings g-mr-5"></i>Configuración
                </a>
                <a href="/Manage/ChangePassword" class="list-group-item list-group-item-action @IsActiveMenuItem("ChangePassword")">
                    <i class="icon-lock g-mr-5"></i>Cambiar Contraseña
                </a>
            </nav>
        </div>
    </aside>
</div>
