@model FindMyPet.MVC.Models.Profile.ProfileViewModel
@{
    ViewBag.Title = "Perfil";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="profile-section g-py g-bg-white">
    <div class="container">
        <div class="row">
            @Html.Partial("_ProfileRightNavMenu")
            <div class="col-md-9">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="g-bg-white g-border g-border-gray-300 g-mb-10 g-p-20 g-shadow-v1">

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="input1-1" class="g-text-primary"><strong>Nombre</strong></label>
                                    <div class="input-group input-group-focus">
                                        @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @id = "input1-1", @class = "form-control", @placeholder = "Nombre" } })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="input1-2" class="g-text-primary"><strong>Apellido</strong></label>
                                    <div class="input-group input-group-focus">
                                        @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @id = "input1-2", @class = "form-control", @placeholder = "Apellido" } })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="input1-3" class="g-text-primary"><strong>Correo</strong></label>
                                    <div class="input-group input-group-focus">
                                        <input id="input1-3" class="form-control" value="@Model.Email" disabled />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="input1-4" class="g-text-primary"><strong>Telefono 1</strong></label>
                                    <div class="input-group input-group-focus">
                                        @Html.EditorFor(model => model.PhoneNumber1, new { htmlAttributes = new { @id = "input1-4", @class = "form-control", @placeholder = "Telefono 1" } })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="input1-5" class="g-text-primary"><strong>Telefono 2</strong></label>
                                    <div class="input-group input-group-focus">
                                        @Html.EditorFor(model => model.PhoneNumber2, new { htmlAttributes = new { @id = "input1-5", @class = "form-control", @placeholder = "Telefono 2" } })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="input1-6" class="g-text-primary"><strong>Dirección 1</strong></label>
                                    <div class="input-group input-group-focus">
                                        @Html.EditorFor(model => model.Address1, new { htmlAttributes = new { @id = "input1-6", @class = "form-control", @placeholder = "Dirección 1" } })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="nput1-7" class="g-text-primary"><strong>Dirección 2</strong></label>
                                    <div class="input-group input-group-focus">
                                        @Html.EditorFor(model => model.Address2, new { htmlAttributes = new { @id = "input1-7", @class = "form-control", @placeholder = "Dirección 2" } })
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="g-mb">
                        @Html.ValidationSummary("", new { @class = "text-danger" })
                    </div>

                    <div class="form-group g-mt-15">
                        <input type="submit" class="btn btn-outline-primary g-mr-10" value="Guardar Cambios" />
                    </div>
                }
            </div>
        </div>
    </div>
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}