@using FindMyPet.Shared;

@model FindMyPet.MVC.Models.Pet.PetPagedListViewModel

@{
    ViewBag.Title = "Mascotas";
    Layout = "~/Views/Shared/_Layout.cshtml";

    string GetStatusClass(PetStatusEnum type)
    {
        var result = "g-text-blue";

        switch (type)
        {
            case PetStatusEnum.Lost:
                result = "g-text-danger";
                break;
            case PetStatusEnum.Found:
                result = "g-text-success";
                break;
        }

        return result;
    }
}

<div class="g-mb-5">
    <span class="h3">Mis Mascotas</span>
    <a href="/Pet/Create" class="btn cn-btn-primary g-ml-20 g-mb-10">Agregar Mascota</a>
</div>

@if (!Model.Records.Any())
{
    @Html.Partial("_NoPets")
}
else
{
    @*
    <form action="/Pet">
        <div class="input-group input-group-focus-v2">
            <input type="text" class="form-control g-bg-gray-100" name="name" id="input3-1" placeholder="Buscar">
            <button class="input-group-append g-w50 justify-content-center g-p-0 g-bg-white g-bg-primary-h cursor-pointer">
                <i class="fa fa-search"></i>
            </button>
        </div>
    </form>
    *@

    <div class="text-center g-mt-10">
        <div class="row justify-content-center">
            @foreach (var item in Model.Records)
            {
                <div class="col-sm-8 col-lg-4 g-mb-20">
                    <div class="member g-border g-border-gray-300 g-border-primary-h g-bg-white">
                        <div class="user-img text-center g-mt-20">
                            <a href="/Pet/PetProfile/@item.Code">
                                <img src="@Url.Content(item.ProfileImageUrl)" class="img-fluid rounded-circle" alt="Imagen de @item.Name">
                            </a>
                        </div>
                        <div class="g-mb-20">
                            <div class="member-description text-center">
                                <a href="/Pet/PetProfile/@item.Code">
                                    <p class="text-capitalize font-weight-bold g-font-size-20">@item.Name</p>
                                </a>
                                <p class="font-italic @GetStatusClass(item.StatusId) font-weight-semibold g-font-size-14 g-mt-5 g-mb-15">@item.Status</p>
                                <ul class="list-inline mx-auto text-center">
                                    <li class="list-inline-item g-mx-2">
                                        <a href="#" petCode="@item.Code" petName="@item.Name" class="deletePetIcon cn-icon cn-icon-sm cn-icon-gray-300 rounded-circle" title="Borrar">
                                            <i class="fa fa-trash"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item g-mx-2 g-ml-20">
                                        @if (item.StatusId == PetStatusEnum.Lost)
                                        {
                                            <a href="/Pet/PetAlert/@item.Code" class="pulse-primary-effect cn-icon cn-icon-sm cn-icon-gray-300 rounded-circle" title="Lo encontre!!!">
                                                <i class="fa fa-smile-o"></i>
                                            </a>
                                        }
                                        else
                                        {
                                            <a href="/Pet/PetAlert/@item.Code" class="pulse-primary-effect cn-icon cn-icon-sm cn-icon-gray-300 rounded-circle" title="Alertar!!!">
                                                <i class="fa fa-bell"></i>
                                            </a>
                                        }
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        @if (Model.Pagination.EnablePagination)
        {
            @Html.Partial("../Shared/_Pagination", Model.Pagination)
        }
    </div>
}

@section Scripts {

    <script>

        $(document).ready(function () {
            $('.deletePetIcon').click(function () {

                var petCode = $(this).attr("petCode");
                var petName = $(this).attr("petName");

                bootbox.confirm({
                    message: "Esta seguro que desea borrar toda la información de su mascota: <strong>" + petName + "</strong> ?",
                    buttons: {
                        confirm: {
                            label: 'Borrar',
                            className: 'btn btn-outline-danger'
                        },
                        cancel: {
                            label: 'Cancelar'
                        }
                    },
                    callback: function (result) {
                        if (result) {
                            window.location.replace("/Pet/Delete/" + petCode);
                        }
                    }
                });
            });
        });

    </script>

}