@model FindMyPet.MVC.Models.Pet.PetPagedListViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="g-mb-5">
    <span class="h3">Mis Mascotas</span>
    <a href="/Pet/Create" class="btn cn-btn-primary g-ml-20 g-mb-10">Agregar Mascota</a>
</div>

@if (!Model.Records.Any())
{
   @Html.Partial("_NoPets")
}
else
{
    int index = (Model.Pagination.CurrentPage - 1) * Model.Pagination.PageSize;

    @*<form action="/Pet">
        <div class="input-group input-group-focus-v2">
            <input type="text" class="form-control g-bg-gray-100" name="name" id="input3-1" placeholder="Buscar">
            <button class="input-group-append g-w50 justify-content-center g-p-0 g-bg-white g-bg-primary-h cursor-pointer">
                <i class="fa fa-search"></i>
            </button>
        </div>
    </form>*@

    <div class="text-center g-mt-5">
        <div class="g-mb-20 g-bg-white g-border g-border-gray-300 g-p-20 g-shadow-v1">
            <div class="table-responsive">
                <table class="table g-mb-0">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Fecha Nacimiento</th>
                            <th scope="auto">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Records)
                        {
                            index++;
                            <tr>
                                <th scope="row">
                                    @index
                                </th>
                                <td>
                                    <a href="/Pet/PetProfile/@item.Code">
                                        <div class="d-sm-flex justify-content-start align-items-center">
                                            <div class="g-mr-sm-15 g-mb-10 g-mb-sm-0">
                                                <img class="g-w50 rounded-circle" src="@Url.Content(item.ProfileImageUrl)" alt="Pet Image">
                                            </div>
                                            <div>
                                                <h6 class="d-sm-inline-block">@item.Name</h6>
                                            </div>
                                        </div>
                                    </a>
                                </td>
                                <td>@item.DateOfBirth.ToString("dd / MMM / yyyy")</td>
                                <td>
                                    <a id="deletePet" href="/Pet/Delete/@item.Code" class="cn-icon cn-icon-outline-primary cn-icon-primary-h cn-icon-xs rounded g-mr-5 g-mb-5" title="Borrar">
                                        <i class="fa fa-trash"></i>
                                    </a>

                                    <a id="alertPet" href="/Pet/PetAlert/@item.Code" class="cn-icon cn-icon-outline-danger cn-icon-danger-h cn-icon-xs rounded g-mr-5" title="Alertar">
                                        <i class="fa fa-bell"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        @if (Model.Pagination.EnablePagination)
        {
            @Html.Partial("../Shared/_Pagination", Model.Pagination)
        }
    </div>
}
