@model FindMyPet.MVC.Models.Pet.PetAlbumViewModel

@{
    ViewBag.Title = "Album";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="profile-section g-py g-bg-white">
    <div class="container">
        <div class="row">
            @Html.Partial("_PetProfileRightNavMenu")
            <div class="col-md-9">
                <div class="form-group form-inline">
                    <h4 class="g-text-primary">Album de Fotos</h4>
                    @if (!Model.HasMaxImages)
                    {
                        <a href="#" data-toggle="modal" data-target="#petImgUploadModal" class="btn btn-outline-primary g-ml-25">
                            <i class="fa icon-cloud-upload fa-fw"></i> Agregar Imagen
                        </a>
                    }
                    <p class="font-italic g-font-size-13 g-mt-10">( Las imágenes del álbum de su mascota serán visibles para el público en caso que lo reporte como perdido. Maximo 6 imagenes.)</p>
                </div>
                <hr />
                <div class="widget feeds-widget">
                    @if (Model.AlbumImages.Any())
                    {
                        <div class="row justify-content-center zoom">
                            @foreach (var item in Model.AlbumImages)
                            {
                                <div class="col-3 g-p-3">
                                    <div class="member g-border g-border-gray-300 g-border-primary-h">
                                        <div class="caption">
                                            <div class="caption-default">
                                                <img src="@Url.Content(item.ImageUrl)" class="img-fluid" alt="@ViewBag.PetFullName">
                                            </div>
                                            <div class="caption-active g-bg-white-opacity-5">
                                                <div class="h-100 g-flex-center g-px-20">
                                                    <div class="text-center g-text-white">
                                                        <ul class="list-inline mx-auto text-center">
                                                            <li class="list-inline-item"><a href="/Pet/SetImageProfile?code=@ViewBag.PetCode&id=@item.Code" class="cn-icon cn-icon-sm cn-icon-cyan rounded-circle" title="Definir como Imagen de Perfil"><i class="fa fa-picture-o"></i></a></li>
                                                            <li class="list-inline-item g-ml-15"><a href="#" petCode="@ViewBag.PetCode" petImageCode="@item.Code" class="deletePetImageIcon cn-icon cn-icon-sm cn-icon-cyan rounded-circle" title="Borrar Imagen"><i class="fa fa-trash"></i></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    }
                    else
                    {
                        @Html.Partial("_NoAlbumImages")
                    }
                </div>
            </div>

            <div class="modal fade" id="petImgUploadModal" tabindex="-1" role="dialog" aria-labelledby="petImgUploadLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h6 class="modal-title text-center" id="petImgUploadLabel">Agregar Imagen</h6>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form action="/Pet/UploadPetImage?id=@ViewBag.PetCode" method="post" enctype="multipart/form-data" role="form">
                            <div class="modal-body">
                                <input type="file" name="pet-img-upload" id="pet-img-upload" class="cn-custom-file-input cn-custom-file-input-v2" />
                                <label class="user-upload-label text-center g-py-40" for="pet-img-upload">
                                    <span class="d-block">
                                        <i class="icon-cloud-upload g-font-size-25"></i>
                                    </span>
                                    <span class="g-font-size-16">Escoger imagen&hellip;</span>
                                </label>
                            </div>
                            <div class="modal-footer">
                                <input type="submit" class="btn btn-sm cn-btn-primary" value="Guardar Imagen" />
                                <button type="button" class="btn btn-sm cn-btn-secondary" data-dismiss="modal">Cerrar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('.deletePetImageIcon').click(function () {
                var petCode = $(this).attr("petCode");
                var petImageCode = $(this).attr("petImageCode");

                bootbox.confirm({
                    message: "Esta seguro que desea borrar la imagen ?",
                    buttons: {
                        confirm: {
                            label: 'Borrar',
                            className: 'btn btn-outline-danger'
                        },
                        cancel: {
                            label: 'Cancelar'
                        }
                    },
                    callback: function (result) {
                        if (result) {
                            var url = '/Pet/DeleteImage?code=' + petCode + '&id=' + petImageCode;
                            window.location.replace(url);
                        }
                    }
                });
            });
        });
    </script>
}
