@model FindMyPet.MVC.Models.Pet.PetAlertViewModel

@{
    ViewBag.Title = "Mascota Encontrada";
    Layout = "~/Views/Shared/_Layout.cshtml";

    string isChecked(bool value)
    {
        if (value)
            return "checked";
        else
            return string.Empty;
    }
}

<section class="profile-section g-py g-bg-white">
    <div class="container">
        <div class="row">
            @Html.Partial("_PetProfileRightNavMenu")
            <div id="sendAlert" class="col-md-9">
                <div class="g-bg-white g-border g-border-gray-300 g-mb-10 g-p-20 g-shadow-v1">
                    @using (Html.BeginForm("PetFound","Pet", new { id = Model.PetCode }, FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <div class="col-12">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="input1-2" class="g-text-primary"><strong>Comentarios </strong>(Opcional)</label>
                                        <div class="input-group input-group-focus">
                                            @Html.TextAreaFor(model => model.Commets, rows: 7, columns: 1, htmlAttributes: new { @class = "form-control" })
                                        </div>
                                        <div class="widget categories-widget">
                                            <ul class="list-unstyled">
                                                <li class="g-flex-middle g-mb-10">
                                                    <span class="g-text-primary">Desea compartir su caso al publico ?</span>
                                                    <label class="toggle form-check-inline ml-auto">
                                                        <input class="toggleCheckBox" type="checkbox" name="MakeItPublic" @isChecked(Model.MakeItPublic) value="@Model.MakeItPublic">
                                                        <span class="toggle-handle round"></span>
                                                    </label>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="row">
                                            <input type="submit" class="btn btn-xlg btn-block btn-outline-success g-mt-5" value="Encontrado !!!" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 g-mt-50">
                                    <img src="~/Content/Images/PerroGato005.png" class="img-fluid"/>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {

    <script>
        $(document).ready(function ()
        {
            $(".toggleCheckBox").click(function () {
                if ($(this).is(":checked")) {
                    $(this).val(true);
                } else {
                    $(this).val(false);
                }
            });
        });
    </script>
    
}
